<div class='profile'>
  {{{photo}}}
  {{{popup}}}
  <form class='container-info'>
    {{#each inputs}}
      {{{this}}}
    {{/each}}
    {{{button}}}
  </form>
  <div class='refers'>
    {{{settings}}}
    {{{password}}}
    {{{exit}}}
  </div>
</div>
