<nav>
  <ul>
    <li>
      {{{login}}}
    </li>
    <li>
      {{{signup}}}
    </li>
    <li>
      {{{chat}}}
    </li>
    <li>
      {{{profile}}}
    </li>
    <li>
      {{{settings}}}
    </li>
    <li>
      {{{password}}}
    </li>
    <li>
      {{{Ref ref_name='Page404' type='button' onClick=this.page404.onClick}}}
    </li>
    <li>
      {{{Ref ref_name='Page500' type='button' onClick=this.page500.onClick}}}
    </li>
  </ul>
</nav>
