<form class='wrapper-popup hidden'>
  <div class='popup'>
    {{describeAction}}
    <input type='{{type}}' id='file-input' class='file-input {{hidden}}' />
    <label class='file-label' for='file-input'>{{action}}</label>
    {{{button}}}
  </div>
</form>
